@import url(./styles/variables.css);

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.input-wrapper {
    width: fit-content;
}

.field-group {
    width: fit-content;
}

.field-group>label,
.field-group>input {
    display: block;
}

.field-group>label {
    font-weight: 500;
    margin: 10px 15px;
    font-size: 14px;
    color: var(--black);
}



@media (max-width: 480px) {
    .sign-in-form {
        height: auto;
        min-height: 100vh;
        padding-bottom: 40px;
    }

    .input-wrapper {
        width: 100%;
        padding: 0 24px;
    }

    .field-group {
        width: 100%;
    }

    .field-group>input {
        width: 100%;
    }

}